@import "./majourStyles";

@media (max-width:866px) {
    .navBar{
        padding: 20px 8px;
        button{
            gap: 8px;
            padding: 8px 18px;
            font-size: 14px;
        }
    }
}
@media (max-width:700px) {
    .navBar{
        padding: 20px 5%;
    }
    .ListColumn{
        display: none;
    }
    .navRight{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
    .navBarcontent{
        display: flex;
        justify-content:space-between;
    }
    .signUp{
        width: 110px;
    }
    .mnu{
        display:contents;
    }
}
@media (min-width:701px){
    .mnu{
        display: none;
    }
}
@media (max-width:770px){
    :root{
        font-size: 12px;
    }
    .tableLayout{
        grid-template-columns: 0.5fr 3fr 1fr 1fr ;
    }
}
@media (max-width:473px){
    :root{
        font-size: 9px;
    }
}
@media (max-width:357px) {
    .tableLayout{
        p{
            font-size: 8px;
        }
    }
    form{
        input{
            width: 200px;
        }
        .searchBtn{
            width: 90px !important;
        }
    }
}